/**
 * @file
 * Required CSS styles to display a responsive HTML table with 'div' tags.
 */

/* .resp-table: table */
.grid-field-formatter .resp-table {
  display: table;
  margin: 10px 0;
  width: 100%;
}
/* .resp-table-body: tbody */
.grid-field-formatter .resp-table-body {
  display: table-row-group;
}
/* .resp-table-row: tr */
.grid-field-formatter .resp-table-row {
  display: table-row;
  background: rgba(0, 0, 0, 0.063);
  padding: 0.1em 0.6em;
}
/* .table-body-cell: td */
.grid-field-formatter .table-body-cell{
  display: table-cell;
  border: 1px solid #fff;
  text-align: left;
  padding: 4px 9px;
}
