{#
/**
 * @file
 * Default theme implementation for a Grid Field Formatter field.
 *
 * To override output, copy the "grid-field-formatter.html.twig" from the
 * templates directory to your theme's directory and customize it, just like
 * customizing other Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - grid-field-formatter--node--field-foo--article.html.twig
 * - grid-field-formatter--node--field-foo.html.twig
 * - grid-field-formatter--node--article.html.twig
 * - grid-field-formatter--field-foo.html.twig
 * - grid-field-formatter--text-with-summary.html.twig
 * - grid-field-formatter.html.twig
 *
 * Available variables are the ones from field.html.twig:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_grid_field_formatter()
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{# Get the number of columns from element's render array '#columns' property. #}
{# See preferred syntax in issue #2160611. #}
{% set number_of_columns = attribute(element, '#columns') %}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{%
  set classes = [
    'grid-field-formatter',
    'container-fluid',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{# Create empty attribute and assign it row classes. #}
{% set row_attributes = create_attribute().addClass([
    'resp-table-row',
    'field__items',
  ])
%}

{%
  set column_classes = [
    'table-body-cell',
    'field__item',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}

  <div class="resp-table">
    <div class="resp-table-body">
      {% for row in items|batch(number_of_columns) %}
        <div{{ row_attributes }}>
          {% for item in row %}
            <div{{ item.attributes.addClass(column_classes) }}>{{ item.content }}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
